ASPNETCORE_URLS=http://+:8000
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=beyond_intelligence;Username=postgres;Password=abcdz01234
Services__AgentPodUrl=http://ai:8001
Services__DataPodUrl=http://data:8002
AI_SERVICE_URL=http://ai:8001
DATA_SERVICE_URL=http://data:8002
